<br />
<% @attractions.each do |f| %>
  <% if @user.admin %>
    <%= link_to "Show #{f.name}", attraction_path(f) %><br />
  <% else %>
    <h3><%= link_to "Go on #{f.name}", attraction_path(f.id) %></h3><br />
  <% end %>
<% end %>
<% if @user.admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>
